<a class="header-link" href="/searches/new">Search Again</a>


<h1>New Photos</h1>


<%= form_for @search, url: create_photos_search_path do |f| %>

<label class="checkbox-label">
  <div class="photo-options">
    <%= f.fields_for :photos do |ff| %>
    <%= ff.check_box :url, {checked: false}, ff.object.url %>
    <%= image_tag ff.object.url  %>
    <span><%= ff.object.attribution %></span>
  </label>
  <%= ff.hidden_field :url %>
  <%= ff.hidden_field :attribution %>
  <% end %>
  <p><%= submit_tag "Submit" %></p>

</div>
<% end %>
