<script type="text/javascript">
function toggleChecked(element) {
  var checkbox = $(element).parent().find("input[type=checkbox]")
  if (checkbox.prop("checked")) {
    $(element).removeClass("checked")
    checkbox.prop("checked", false)
  }
  else {
    $(element).addClass("checked")
    checkbox.prop("checked", true)
  }
}
</script>

<br>
<br>
<br>



<%= form_for @search, url: create_photos_search_path do |f| %>


  <div class="photo-options">
    <h3>Click on the photos you want to include in your album!</h3>
    <%= f.fields_for :photos do |ff| %>
      <div class="photo-box">
        <p>
          <%= image_tag ff.object.url, onClick: "toggleChecked(this)" %>
          <%= ff.check_box :url, {checked: false}, ff.object.url %>
        </p>
        <p class="attribution">
          <a href="https://www.flickr.com/photos/<%= ff.object.path_alias %>/" target="_blank">
            <%= ff.object.attribution %>
          </a>
        </p>
      </div>
      <%= ff.hidden_field :attribution %>
      <%= ff.hidden_field :path_alias %>
    <% end %>
    <br>
    <div class="clear"></div>
    <div class="footer">
      <%= submit_tag "Submit" %>
      <h3><a href="/searches/new">Start over with a new city</a></h3>
    </div>

  </div>
<% end %>
