<div class="main-content">


<h1>Select the photos you want to share:</h1>
<p> </p>


<%= form_tag create_photos_search_path do %>
  <% @images.each do |photo| %>
    <div>
      <%= check_box_tag "photos[]", photo.url %>
      <%= image_tag photo.url  %>
      <!-- <%= photo.photo_id %> -->
    </div>
  <% end %>
<p>  <%= submit_tag "Submit" %> </p>


<h3><%= link_to "Start Search Again", new_search_path %></h3>
<% end %>
</div>
