<h1>New Photos</h1>


<%= form_for @search, url: create_photos_search_path do |f| %>
<div class="photo-options">
  <%= @images.each do |i| %>
  <label>
    <%= f.check_box :url, {checked: false}, i.url %>
    <%= f.image i.url  %>
    <span><%= f.owner %></span>
    <%= f.hidden_field :url %>
    <%= f.hidden_field :owner %>
  </label>
  <p><%= submit_tag "Submit" %></p>
  <% end %>
</div>
<% end %>
