<script type="text/javascript">
function toggleChecked(element) {
  var checkbox = $(element).parent().find("input[type=checkbox]")
  if (checkbox.prop("checked")) {
    $(element).removeClass("checked")
    checkbox.prop("checked", false)
  }
  else {
    $(element).addClass("checked")
    checkbox.prop("checked", true)
  }
}
</script>

<br>
<br>
<br>
<h3>Click on the photos you want to include in your album!</h3>


<%= form_for @search, url: create_photos_search_path do |f| %>


  <div class="photo-options">

    <%= f.fields_for :photos do |ff| %>
      <div class="photo-box">
        <%= image_tag ff.object.url, onClick: "toggleChecked(this)" %>
        <%= ff.check_box :url, {checked: false}, ff.object.url %>
        <div class="attribution"></div>
        <p>
          <a href="https://www.flickr.com/photos/<%= ff.object.attribution %>/">
            <%= ff.object.attribution %>
          </a>
        </p>
      </div>
      <%= ff.hidden_field :attribution %>
    <% end %>
    <div class="clear"><p> <%= submit_tag "Submit", class: 'button' %> <a href="/searches/new">Start over with a new city</a></p>
</div>
  </div>
<% end %>
