 <script type="text/javascript">
  function cloneExtraLandmark() {
    var clone = $(".extra-landmark").first().clone()
    // clone.toggleClass('extra-landmark added-landmark');
    clone.appendTo(".landmark-options");
    $(".extra-landmark").first().remove();
  }

  function cloneIfLastChild(element) {
    var extraLandmarkQuery = $(element).parent()
    var lastExtraLandmarkQuery = $(".landmark-options").children(".extra-landmark").last()
    if (extraLandmarkQuery[0] === lastExtraLandmarkQuery[0]) {
      cloneExtraLandmark()
    }
  }

  $(window).load(cloneExtraLandmark)

</script>

<iframe
class="map"
width="700"
height="600"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @search.map_query %>&zoom=12>
</iframe>
<div class="map-cover"></div>

<a class="header-link" href="/searches/new">Search Again</a>


<div style="display: none">
  <div class="extra-landmark">
    <%= check_box_tag nil, nil, nil, :style => 'visibility: hidden' %>
    <!-- 1st nil = name, 2nd nil = value, 3rd nil = whether checked -->
    <%= text_field_tag "search[landmarks_attributes][20][name]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %>
    <!-- <%#= text_field_tag "landmarks[]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %> -->
  </div>

  <div class="extra-landmark">
    <%= check_box_tag nil, nil, nil, :style => 'visibility: hidden' %>
    <!-- 1st nil = name, 2nd nil = value, 3rd nil = whether checked -->
    <%= text_field_tag "search[landmarks_attributes][21][name]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %>
    <!-- <%#= text_field_tag "landmarks[]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %> -->
  </div>

  <div class="extra-landmark">
    <%= check_box_tag nil, nil, nil, :style => 'visibility: hidden' %>
    <!-- 1st nil = name, 2nd nil = value, 3rd nil = whether checked -->
    <%= text_field_tag "search[landmarks_attributes][20][name]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %>
    <!-- <%#= text_field_tag "landmarks[]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %> -->
  </div>
</div>

<div class="main-content">


  <div class="info-box">
    <div class="info-box-content">
      <% if flash[:notice] %>
        <p class="error"><%= flash[:notice] %></p>
      <% end %>
    <h1> Pick Landmarks </h1>

    <% if @search.landmarks.empty? == false %>
      <p> Check the places you visited on your trip! </p>
      <br>

      <%= form_for @search, url: create_landmarks_search_path do |f| %>
        <div class="landmark-options">
          <%= f.fields_for :landmarks do |ff| %>
            <div class="landmark">
              <%= ff.check_box :name, {checked: false}, ff.object.name %>
              <%= ff.label :name, ff.object.name %>
              <div class="weather-options">
                <%= "Weather:" %>
                <%= ff.radio_button(:weather, "rain") %>
                <%= ff.label(:weather, ('<i class="wi wi-rain"></i>').html_safe) %>
                <%= ff.radio_button(:weather, "snow") %>
                <%= ff.label(:weather, ('<i class="wi wi-snow"></i>').html_safe) %>
                <%= ff.radio_button(:weather, "") %>
                <%= ff.label(:weather, "--", {checked: true}) %>
              </div>
              <div class="time-of-day-options">
                <%= "Time of day:" %>
                <!-- <%#= ff.radio_button(:tod, "day") %>
                <%#= ff.label(:weather, ('<i class="wi wi-day-sunny-overcast"></i>').html_safe) %> -->
                <%= ff.radio_button(:tod, "night") %>
                <%= ff.label(:tod, ('<i class="wi wi-night-clear"></i>').html_safe) %>
                <%= ff.radio_button(:tod, "sunset") %>
                <%= ff.label(:tod, ('<i class="wi wi-horizon-alt"></i>').html_safe) %>
                <%= ff.radio_button(:tod, "") %>
                <%= ff.label(:tod, "--", {checked: true}) %>
              </div>
            </div>
          <% end %>
        </div>
        <br>
        <p>  <%= submit_tag "Submit" %> </p>
      <% end %>

    <% end %>
  </div>
</div>
