<a class="header-link" href="/searches/new">Search Again</a>


<h1>New Photos</h1>


<%= form_for @search, url: create_photos_search_path do |f| %>


  <div class="photo-options">

    <%= f.fields_for :photos do |ff| %>
      <div class="photo-box">
        <label class="checkbox-label">
          <%= image_tag ff.object.url  %>
          <%= ff.check_box :url, {checked: false}, ff.object.url %>
          <%= ff.hidden_field :attribution %>
        </label>
        <p><%= ff.object.attribution %></p>
      </div>
    <% end %>
    <div class="clear"><%= submit_tag "Submit" %></div>
  </div>
<% end %>
