<script type="text/javascript">
  function cloneExtraLandmark() {
    $(".extra-landmark").first().clone().appendTo(".landmark-options");
  }

  function cloneIfLastChild(element) {
    var extraLandmarkQuery = $(element).parent()
    var lastExtraLandmarkQuery = $(".landmark-options").children(".extra-landmark").last()
    if (extraLandmarkQuery[0] === lastExtraLandmarkQuery[0]) {
      cloneExtraLandmark()
    }
  }

  $(window).load(cloneExtraLandmark)

</script>

<iframe
class="map"
width="700"
height="600"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @search.map_query %>&zoom=12>
</iframe>

<div style="display: none">
  <div class="extra-landmark">
    <%= check_box_tag nil, nil, nil, :style => 'visibility: hidden' %>
    <!-- 1st nil = name, 2nd nil = value, 3rd nil = whether checked -->
    <%= text_field_tag "landmarks[]", "", placeholder: "Anywhere else?", onKeyPress: "cloneIfLastChild(this)" %>
  </div>
</div>

<div class="main-content">


  <div class="info-box">
    <h1> New Landmarks </h1>

    <% if @landmark_names.empty? == false %>
      <p> Check the places you visited on your trip! </p>
      <br>

      <style>
        .weather-options, .time-of-day-options {
          display: none;
          margin-left: 1em;
          font-size: 18px;
        }
        input:checked ~ .weather-options {
          display: block;
        }
        input:checked ~ .time-of-day-options {
          display: block;
        }
      </style>

      <%= form_tag create_landmarks_search_path do %>
        <div class="landmark-options">
          <% @landmark_names.each do |n| %>
            <div>
              <%= check_box_tag "landmarks[]", n %>
              <%= label_tag n %>
                <div class="weather-options">
                  <%= "Weather:" %>
                  <%= radio_button_tag(:weather, "clear") %>
                  <%= label_tag(:weather, ('<i class="wi wi-day-sunny"></i>').html_safe) %>
                  <%= radio_button_tag(:weather, "rainy") %>
                  <%= label_tag(:weather, ('<i class="wi wi-rain"></i>').html_safe) %>
                  <%= radio_button_tag(:weather, "snowy") %>
                  <%= label_tag(:weather, ('<i class="wi wi-snow"></i>').html_safe) %>
                </div>
                <div class="time-of-day-options">
                  <%= "Time of day:" %>
                  <%= radio_button_tag(:tod, "day") %>
                  <%= label_tag(:weather, ('<i class="wi wi-day-sunny-overcast"></i>').html_safe) %>
                  <%= radio_button_tag(:tod, "night") %>
                  <%= label_tag(:weather, ('<i class="wi wi-night-clear"></i>').html_safe) %>
                  <%= radio_button_tag(:tod, "golden_hour") %>
                  <%= label_tag(:weather, ('<i class="wi wi-horizon-alt"></i>').html_safe) %>
                </div>
              <!-- <%= select_tag "weather", options_for_select(["☀", "☂", "☃" ]), include_blank: false %>
              <%= select_tag "tod", options_for_select(["☼", "☽", "Golden Hour" ]), include_blank: false %> -->
            </div>
          <% end %>
        </div>

        <br>
        <%= wi_icon('day-lightning') %>

        <p>  <%= submit_tag "Submit" %> </p>
      <% end %>

    <% end %>
  </div>
</div>
